{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h4>Hello! let's get start register</h4>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary active" value="{% trans 'Submit' %}" />
    <p>{% trans "Not a member?" %} <a href=" {% url 'auth_login' %}">{% trans "Login" %}</a>.</p>
</form>
{% endblock %}


