{% extends 'app/base.html' %} 

{% load static i18n crispy_forms_tags %}

{% block content %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> {{title}}
    </h3>
    {% if request.user.is_superuser %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'app:user_create' %}" class="btn btn-lg btn-gradient-primary">New {{title}}</a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {% if object_list %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover border" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="fw-bold"> number </th>
                                <th class="fw-bold"> User name </th>
                                <th class="fw-bold"> email </th>
                                <th class="fw-bold"> Active </th>
                                <th class="fw-bold"> supe ruser </th>
                                <th class="fw-bold"> Date joined </th>
                                {% if request.user.is_superuser %}<th> Actions </th>{% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td> {{forloop.counter}}</td>
                                <td> {{object.username}} </td>
                                <td> {{object.email}} </td>
                                {% if object.is_active %}
                                <td> Active </td>
                                {% else %}
                                <td> Inactive </td>
                                {% endif %}

                                {% if object.is_superuser %}
                                <td> Active </td>
                                {% else %}
                                <td> Inactive </td>
                                {% endif %}

                                {% comment %} <td> {{object.superuser_status}} </td> {% endcomment %}
                                <td> {{object.date_joined}} </td>


                                {% if request.user.is_superuser %}
                                <td>
                                    <a href="{% url 'app:user_update' object.id %}" class="btn btn-sm btn-circle btn-info"><i class="mdi mdi-pencil"></i></a>
                                    <a href="{% url 'app:user_delete' object.id %}" class="btn btn-sm btn-circle btn-danger"><i class="mdi mdi-delete"></i></a>
                                </td>
                                {% endif %}
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% comment %} {% else %}
                <small class="mb-0">No {% get_verbose_name object_list.0 %} exists.</small> {% endcomment %}
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}